@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license{
    border: 3px solid black;
    background-color: white;
    border-radius: 24px;
    width: 700px;
    padding:24px;
}
h1 {
   color:navy;
   font-size: 60px;
   margin:0px;  
}
#left-side,
#right-side {
    display: inline-block;
}
#left-side{
    width: 65%;
}
#right-side{
    width: 34%;
}
#id-and-expiration div{
    display:inline-block;
    color:navy;
    margin:8px;
} 
#address {
    font-weight: bold;
    font-size: 18px;
    margin:9px;
}
#small-pic img{
width: 90px;
opacity: 0.5;
}

#data-fields, #small-pic {
    Display: inline-block;
}

#data-left, #data-right {
    display: inline-block;
    color:navy;
    margin: 8px;
}
#right-side img{
width: 100%
}
#donor-and-real-id div {
    display: inline-block;
    text-align: right;
}
h4{
    background-color: blue;
    color:aliceblue;
    text-align: center;
    font-size: 25px;
    margin:0px;
    padding:8px;
}
#signature{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    font-family:'Ms Madi', cursive;
}
#id-and-expiration span {
    color: #9900ff;
}
#data-left span, #data-right span{
    color: #9900ff;
    font-weight: bold;
}

#donor-and-real-id {
    padding: 4px;
    text-align: center;
}
#donor{
    color:red;
    font-weight: bold;
    padding-right: 24px;
}
#real-id{
    display:inline-block;
    background-color: gold;
    font-size:24px;
    text-align: center;
    padding:4px;
    border-radius: 50%;
}
#real-id i {
    color:white;
}