@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{
    margin: 0px;
    font-family: sans-serif;
    background-color: thistle;
}
#grid-layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    "header header" "sidebar content"
    ;
}
#header{
    grid-area:header;
    padding: 0px 36px;
}
#header a{
    text-decoration:none;
    font-family: 'Luckiest Guy', cursive;;
    font-weight: bold;
}
#header #me {
    color:black;
}
#header #tube{
    color: white;
    background-color: purple;
    padding: 4px;
    border-radius: 12px;
}
#sidebar{
    grid-area: sidebar;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #aaa;
}

#sidebar ul a{
    text-decoration: none;
    color:#111;
    display: block;
    padding: 12px;
    color: white;
}

#sidebar ul a:hover {
    background-color: blue;
    border-radius: 12px;
}

#main {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
}

.metube-item{
    flex: 250px;
    margin-bottom: 24px;
    margin-right: 12px
}

.metube-item .thumbnail{
    border-radius: 8px;
    background: radial-gradient(at top left, pink,coral);
    aspect-ratio: 16 / 9;
}
.metube-item h4 a{
    text-decoration: none;
    color: #111;
    display: block;
}
.video-details{
    font-weight: bold;
    font-family:f;
}

.metube-item h4 a:hover{
    text-decoration: underline;
}
.metube-item .video-details{
    margin: 8px;
    font-size: 14px;

}.metube-item .channel {
    margin-bottom: 4
}
.metube-item#m1 .thumbnail{
    background-image: url(
        ../images/G1.jpg
    );
    background-size: cover;
}
.metube-item#m2 .thumbnail{
    background-image: url(
        ../images/G2.jpg
    );
    background-size: cover;
}
.metube-item#m3 .thumbnail{
    background-image: url(
        ../images/G3.jpg
    );
    background-size: cover;
}
.metube-item#m4 .thumbnail{
    background-image: url(
        ../images/G4.jpg
    );
    background-size: cover;
}
.metube-item#m5 .thumbnail{
    background-image: url(
        ../images/G5.jpg
    );
    background-size: cover;
}
.metube-item#m6 .thumbnail{
    background-image: url(
        ../images/G6.jpg
    );
    background-size: cover;
}
