* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

#column-1 {
    text-align: center;
}

#column-2 { 
    color: black;
    text-align: center;
}

#column-3 {
        text-align: center;
}

#header #me {
    color:yellow;
    background-color: black;
    border-radius: 12px;
    padding: 4px;
}
#header #tube{
    color: black;
    background-color: yellow;
    
    
}
#header{
    grid-area:header;
    padding: 0px 0px;
    text-align: center;

}
#header a{
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-weight: bold;
}

#buy {
     border: solid 2px black;
     text-align: center;
     color: white;
     background-color: blue;
     margin: 0px 70px;
     border-radius: 50px;
}
#wish {
    border: solid 2px black;
    text-align: center;
    margin: 0px 70px;
    border-radius: 50px;
}

#add{
    border: solid 2px black;
    text-align: center;
    background-color: navy;
    color: white;
    margin: 0px 70px;
    border-radius: 50px;
}

#save{
    border:solid 2px black;
    margin: 17px;
    padding: 10px;
}
#links{
    border:solid 2px black;
    margin: 17px;
    padding: 10px;
}

#save ul{
    list-style-type: none;
}
#links ul{
    list-style-type: none;
}

