/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2{
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 50px 1px;
}

.card-style-2 img{
    width: 250px;
    border-radius: 50%;
}

.animagram-footer {
    display: flex;
    font-size: 23px;
    max-width: 0px 10px;
    justify-content: space-between;
    padding: 0px 30px;
}

.animagram-header {
    display: flex;
    font-size: 27px;
    justify-content: space-between;
    padding: 0px 30px;
}

