#pg{
    font-family: cursive;
    text-align: center;
}

#pgc-1{
    background-color: #C08552;
    color: #222;
    font-family:cursive;
    text-align: center;
    padding: 24px;
}
#pgc-2{
    background-color: #5E3023;
    color: #222;
    font-family:cursive;
    text-align: center;
    padding: 24px;
}
#pgc-3{
    background-color: #895737;
    color: #222;
    font-family:cursive;
    text-align: center;
    padding: 24px;
} 

#pg2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#pgc-1-2{
    background-color: #2e5266;
    color: #222;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}
#pgc-2-2{
    background-color: #6e8898;
    color: #222;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}
#pgc-3-2{
    background-color: #6c91bf;
    color: #222;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}   
    
#pg3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif;
    text-align: center;
}

#pgc-1-3{
    background-color: #CBC5EA;
    color: #222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif;
    text-align: center;
    padding: 24px;
}
#pgc-2-3{
    background-color: #73628A;
    color: #222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif;
    text-align: center;
    padding: 24px;
}
#pgc-3-3{
    background-color: #A799B7;
    color: #222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
    sans-serif;
    text-align: center;
    padding: 24px;
}   