*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: lavender;
    width: 200px;
    padding: 24px;
    border-right: px solid black;
}

#sidebar-content h2{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    font-family: fantasy;
}

#sidebar-content ul {
    list-style-type: circle;
    padding: 0px;
}
#sidebar-content ul a{
    color: black;
    font-variant: small-caps;
}

#sidebar-content ul li{
    padding: 4px 0px;
}

#main-content {
    background-color: beige;
    flex: 1;
    padding: 48px;
}