* {
    box-sizing:borderbox 
}
#hero-1 {
    background-image: url(../images/Need.jpg);
    height: 115vh;
    background-size: cover;
    background-position: center RIGHT;
    display: flex;
    align-items: center top;
    justify-content: flex-start;
    color:navy;
    flex-direction: column;
}

#hero-1 h1{
    font-size: 50px;
    text-align: center;
    background-color: white;
}

#hero-1 h2{
    font-size: 20px;
    text-align: center;
    background-color: aliceblue;
    }
    
 #A1 {
    font-size: 1.5vw;
    background-color:lightblue;
    text-decoration: none;
    padding: 24px;
    text-align: center;
     }

#hero- h1{
    font-size: 50px;
    text-align: center;
}


#hero-2 {
font-size: 20px;
text-align: center;
}

.horizontal-masonary-gallery {
    display:Flex;
    flex-wrap: wrap;
    gap: 24px;
}

.horizontal-masonary-gallery img {
    height: 260px;
    flex: 1;
    object-fit: cover;
    padding: 50px 0px;
    margin-top: 30px 0px 0px;
    
}

#hero-2 {
    background-image: url(../images/Need.jpg);
    height: 115vh;
    background-size: cover;
    background-position: center RIGHT;
    display: flex;
    align-items: center top;
    justify-content: flex-start;
    color:navy;
    flex-direction: column;
}

#A2 {
    font-size: 1.5vw;
    background-color:lightblue;
    text-decoration: none;
    padding: 24px;
    margin:430px 0px 0px;
    text-align: center;
     }

#hero-2 h1{
    font-size: 50px;
    text-align: center;
     background-color: white;
    }   
    